<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805814824492-h8pcloqdhfsi2tv6be40htgbmdp7htov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805814824492-h8pcloqdhfsi2tv6be40htgbmdp7htov</string>
	<key>API_KEY</key>
	<string>AIzaSyAfcDQQUEuiS7l6dar406s4J7O0OurDd34</string>
	<key>GCM_SENDER_ID</key>
	<string>805814824492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theKeyTo.theKeyTo</string>
	<key>PROJECT_ID</key>
	<string>thekeyto-ba57d</string>
	<key>STORAGE_BUCKET</key>
	<string>thekeyto-ba57d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805814824492:ios:9afc7568c2ac979697ab89</string>
</dict>
</plist>